@model IEnumerable<ZenithWebSite.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h2>Events</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnteredByUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventFromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnteredByUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventFromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventToDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
